.bottom-nav {
  width: 240px;
  height: 60px;
  position: absolute;
  bottom: 0px;
  left: 72px;
  background-color: #2a2a2e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.voice-controls-box {
  border-bottom: 5px var(--channel-nav) solid;
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
}

.left-nav-bar {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-direction: row;
  padding: 10px;
}

.nav-user-profile-img {
  width: 40px;
  height: 40px;
  border-radius: 30px;
}

.nav-button {
  cursor: pointer;
  background-color: #65656b5b;
  border-radius: 15px;
  color: white;
  width: 70px;
  border: none;
  height: 1.6rem;
  font-size: 12px;
}

.nav-username {
  color: white;
  font-size: 14px;
  width: 5rem;
  word-wrap: break-word;
}

.call-controls-on {
  color: green;
  font-size: 40px;
}

.call-controls-off {
  color: red;
  font-size: 40px;
}

.tooltip-controls {
  position: relative;
  cursor: pointer;
}

.tooltip-controls::before,
.tooltip-controls::after {
  /* --scale: 0; */
  --arrow-size: 0;
  --tooltip-color: #232326;

  position: absolute;
  z-index: 3;
  display: none;
  top: -80%;
  left: 50%;
  transform: translateX(-50%);
  /* scale(var(--scale) */
}

.tooltip-controls::before {
  content: attr(data-tooltip);
  color: white;
  font-size: 0.7rem;
  padding: 0.5rem;
  width: max-content;
  border-radius: 0.4rem;
  background-color: var(--tooltip-color);
}

.tooltip-controls:hover::before,
.tooltip-controls:hover::after {
  --scale: 1;
  z-index: 1;
  display: block;
}

.tooltip-controls::after {
  content: "";
  bottom: 50%;
  transform: rotate(0.75turn);
  border: var(--arrow-size) solid transparent;
  border-right-color: var(--tooltip-color);
}
