video {
  height: auto;
  width: auto;
  max-height: 25%;
  max-width: 25%;
  flex-basis: auto;
  border: blue 3px solid;
}

video:hover {
  background-color: none;
}

#video-box {
  background-color: black;
  width: 100%;
  height: 100%;
  border: red 3px solid;
  display: flex;
  flex-wrap: wrap;
  /* margin: 0 auto; */
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.voice-container {
  border: yellow 3px solid;
  background-color: black;
  margin-top: 3.5rem;
  width: 100%;
  color: white;
}
